<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.UserDao" >
    <select id="AllUserCount" resultType="com.jk.model.User">
        select * from t_user
    </select>
    <select id="queryUser" resultType="com.jk.model.User">
        select * from t_user
        limit #{firstNum},#{lastNum}
    </select>
</mapper>